.app-header
{
  text-align: center;
  font-family: Bedrock;
  width: 99%;
  height: 10%;
  position: fixed;
  z-index:5;
  background-color: #0099CC;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;

}
.Text
{
  font-size: 25px;
  margin-top: 1.5%;
  font-weight: bold;
}
