.notes-header {
    font-size: 20px;
    background: #0187dc;
    text-shadow: 0 2px 0px rgba(0, 0, 0, 0.4);
    padding: 20px;
    color: #fff;
}
.button-trash
{
    margin-left: 80%;
    background-color: white;    
}
.button-add
{
    background-color: white;
}
.button-edit
{
    background-color: white;
}